@import "../../../mixins.scss";

.container {
  @include flex(space-between, stretch);
  flex-wrap: wrap;
  margin-bottom: 2rem;
  @include md {
    display: block;
  }
  .timebox {
    flex: 0.3;
  }
  .infobox {
    flex: 0.7;
  }
}
