@import '../../../mixins.scss';

.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    @include md{
        display: block;
    }
    .dailybox{
        flex: 0.3;
    }
    .hourlybox{
        flex: 0.7;
    }
}