@import'../../../mixins.scss';

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    @include sm{
        h2{
            display: none;
        }
    }
}

